html[class="dark"] {
  .top {
    .el-card {
      box-shadow: 2px 5px 5px #0c0c0c;
      border: none;
      border-radius: 0;
    }
  }

  .demo-tabs {
    .el-tabs__item.is-top.is-active {
      border-bottom-color: var(--el-border-color-light);
    }
  }

  .content-tree {
    a {
      color: var(--el-text-color-regular);
      text-decoration: none;
    }
  }
}
