html[class="dark"] {
  background-color: #1e293b;
  .top {
    .el-card {
      border-bottom: 1px solid #141b27;
      border-radius: 0;
    }
  }

  .w-e-text {
    background-color: #1e293b;
  }

  .el-card {
    background-color: #1e293b;
  }

  .demo-tabs {
    .el-tabs__item.is-top.is-active {
      border-bottom-color: var(--el-border-color-light);
    }
  }

  .content-tree {
    a {
      color: var(--el-text-color-regular);
      text-decoration: none;
    }
  }

  .el-drawer__body {
    background-color: #1e293b;
  }

  .content {
    background-color: #1e293b;
    pre code.hljs {
      display: block;
      overflow-x: auto;
      padding: 1em;
    }
    pre code {
      background: none;
    }
    code.hljs {
      padding: 3px 5px;
    }

    pre > code {
      font-family: "fira code";
    }
    .hljs {
      color: #fff;
      background: #1c1b1b;
    }
    .hljs-subst {
      color: #fff;
    }
    .hljs-comment {
      color: #999;
    }
    .hljs-attr,
    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-section,
    .hljs-selector-tag {
      color: #88aece;
    }
    .hljs-attribute {
      color: #c59bc1;
    }
    .hljs-name,
    .hljs-number,
    .hljs-quote,
    .hljs-selector-id,
    .hljs-template-tag,
    .hljs-type {
      color: #f08d49;
    }
    .hljs-selector-class {
      color: #88aece;
    }
    .hljs-link,
    .hljs-regexp,
    .hljs-selector-attr,
    .hljs-string,
    .hljs-symbol,
    .hljs-template-variable,
    .hljs-variable {
      color: #b5bd68;
    }
    .hljs-meta,
    .hljs-selector-pseudo {
      color: #88aece;
    }
    .hljs-built_in,
    .hljs-literal,
    .hljs-title {
      color: #f08d49;
    }
    .hljs-bullet,
    .hljs-code {
      color: #ccc;
    }
    .hljs-meta .hljs-string {
      color: #b5bd68;
    }
    .hljs-deletion {
      color: #de7176;
    }
    .hljs-addition {
      color: #76c490;
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-strong {
      font-weight: 700;
    }

    p,
    li,
    ol,
    ul,
    h1,
    h2,
    h3,
    h4,
    td {
      code {
        background-color: rgba($color: red, $alpha: 0.1);
        color: rgba($color: red, $alpha: 1);
        font-weight: 700;
        margin: 0 2px;
        font-size: 14px;
        padding: 3px;
        height: 20px;
        line-height: 20px;
        border-radius: 4px;
        display: inline-block;
      }
    }
    pre {
      position: relative;
      background-color: #0f172a;
      padding: 16px 24px;
    }

    blockquote {
      background-color: #0f172a;
    }

    table {
      tbody {
        tr:nth-child(2n) {
          background-color: rgba($color: #0f172a, $alpha: 0.5);
        }
      }
    }

    ul {
      padding-top: 10px;
      li {
        padding: 10px;
        p {
          margin: 0 !important;
          padding: 0;
          line-height: auto;
        }
      }

      li::marker {
        color: #f47296;
      }
    }

    ol {
      padding-top: 10px;
      li {
        padding: 10px;
        p {
          margin: 0 !important;
          padding: 0;
          line-height: auto;
        }
      }

      li::marker {
        color: #f47296;
      }
    }
  }

  a[title="Toggle Preview (Ctrl-P)"],
  a[title="Toggle Side by Side (F9)"] {
    display: none !important;
  }
  .editor-toolbar.fullscreen {
    background-color: #1e293b;

    &::before {
      display: none !important;
    }
    &::after {
      display: none !important;
    }

    .active {
      background-color: #1e293b !important;
    }
  }
  .editor-toolbar {
    border: none;
    border-top: 1px solid #eeeeee35 !important;

    .fa.active {
      background-color: #1e293b !important;
    }
  }
  .editor-toolbar a[tabindex] {
    color: white !important;
    &:hover {
      background-color: #141b27;
    }
  }
  .CodeMirror {
    background-color: #141b27;
    border: 1px solid #eeeeee1d !important;

    .cm-formatting.cm-formatting-header {
      color: var(--el-color-primary) !important;
    }
    .cm-header.cm-header-1 {
      color: white;
    }
    .cm-header.cm-header-2 {
      color: rgba($color: #fff, $alpha: 0.9);
    }
    .cm-header.cm-header-3 {
      color: rgba($color: #fff, $alpha: 0.8);
    }
    .cm-header.cm-header-4 {
      color: rgba($color: #fff, $alpha: 0.7);
    }

    .cm-formatting.cm-formatting-code-block.cm-comment {
      color: var(--el-color-primary-dark-2);
      display: inline-block;
    }
  }
  .CodeMirror-line {
    color: rgba(255, 255, 255, 0.7) !important;
    &::selection {
      color: black;
    }
  }
  .CodeMirror-cursor {
    border-color: white;
  }
  .a-active {
    color: var(--el-color-primary) !important;
  }
}
